@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-size: 14px;
  color: #000000;
}

html {
  min-height: 100vh;
  padding: 50px 0 50px;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
h1,
h3,
p {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 30px 15px;
}
